<script type="text/template" id="main-tpl">
<form class="user-form" style="height:inherit;width:inherit">
<div class="easyui-tabs" data-options="fit:true,border:false">
    <div title="<%- i18n.t('admin.users.parameters') %>">
        <table cellpadding="5" style="width:100%;">
            <tr>
                <td style="width:40%"><strong><%- i18n.t('user.login') %>:</strong></td>
                <td>
                    <input type="text" name="username" class="easyui-textbox username" data-options="width:310,required:true,tipPosition:'bottom',prompt:'<%- i18n.t('user.loginPrompt') %>'" />
                </td>
            </tr>
            <tr>
                <td><strong><%- i18n.t('user.password') %>:</strong></td>
                <td>
                    <input type="password" name="password" class="easyui-textbox password" data-options="width:310,required:true,tipPosition:'bottom',prompt:'<%- i18n.t('user.passwordPrompt') %>'" />
                </td>
            </tr>
            <tr>
                <td><strong><%- i18n.t('user.provider.title') %>:</strong></td>
                <td>
                    <select name="provider" class="easyui-combobox provider" data-options="width:310,required:true,tipPosition:'bottom',panelHeight:'auto',editable:false,prompt:'<%- i18n.t('user.provider.prompt') %>'">
                        <option value="local"><%- i18n.t('user.provider.local') %></option>
                        <option value="openedu"><%- i18n.t('user.provider.openedu') %></option>
                        <option value="ifmosso"><%- i18n.t('user.provider.ifmosso') %></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><strong><%- i18n.t('user.role.title') %>:</strong></td>
                <td>
                    <select name="role" class="easyui-combobox role" data-options="width:310,required:true,tipPosition:'bottom',panelHeight:'auto',editable:false,prompt:'<%- i18n.t('user.role.prompt') %>'">
                        <option value="1"><%- i18n.t('user.role.1') %></option>
                        <option value="2"><%- i18n.t('user.role.2') %></option>
                        <option value="3"><%- i18n.t('user.role.3') %></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><strong><%- i18n.t('user.active.title') %>:</strong></td>
                <td>
                    <select name="active" class="easyui-combobox active" data-options="width:310,required:true,tipPosition:'bottom',panelHeight:'auto',editable:false,prompt:'<%- i18n.t('user.active.prompt') %>'">
                        <option value="true"><%- i18n.t('user.active.true') %></option>
                        <option value="false"><%- i18n.t('user.active.false') %></option>
                    </select>
                </td>
            </tr>
        </table>
    </div>
    <div title="<%- i18n.t('admin.users.profile') %>">
        <table cellpadding="5" style="width:100%;">
            <tr>
                <td style="width:40%"><strong><%- i18n.t('user.fullname') %>:</strong> <sup style="color:red">*</sup></td>
                <td>
                    <input type="text" name="lastname" class="easyui-textbox lastname" data-options="required:true,tipPosition:'bottom',width:100,prompt:'<%- i18n.t('user.lastname') %>'" />
                    <input type="text" name="firstname" class="easyui-textbox firstname" data-options="required:true,tipPosition:'bottom',width:100,prompt:'<%- i18n.t('user.firstname') %>'" />
                    <input type="text" name="middlename" class="easyui-textbox middlename" data-options="width:100,prompt:'<%- i18n.t('user.middlename') %>'" />
                </td>
            </tr>
            <tr>
                <td style="padding:0 5px"></td>
                <td style="padding:0 5px;font-size:0.8em;margin-top:-5px"><span style="color:red">*</span> <%- i18n.t('user.footnote') %></td>
            </tr>
            <tr>
                <td><strong><%- i18n.t('user.gender') %>:</strong></td>
                <td>
                    <input name="gender" class="easyui-combobox gender" data-options="required:true,valueField:'code',textField:'value',tipPosition:'bottom',width:310,panelHeight:'auto',editable:false,prompt:'<%- i18n.t('user.genderPrompt') %>'"/>
                </td>
            </tr>
            <tr>
                <td><strong><%- i18n.t('user.birthday') %>:</strong></td>
                <td>
                    <input name="birthday" class="easyui-datebox birthday" style="width:200px;" data-options="required:true,tipPosition:'bottom',prompt:'<%- i18n.t('user.birthdayPrompt') %>'">
                </td>
            </tr>
            <tr>
                <td><strong><%- i18n.t('user.email') %>:</strong></td>
                <td>
                    <input type="text" name="email" class="easyui-textbox email" data-options="width:310,required:true,validType:'email',tipPosition:'bottom',prompt:'<%- i18n.t('user.emailPrompt') %>'" />
                </td>
            </tr>
            <tr>
                <td><strong><%- i18n.t('user.address') %>:</strong></td>
                <td>
                    <input name="address" class="easyui-textbox address" style="width:310px;" data-options="prompt:'<%- i18n.t('user.addressPrompt') %>'">
                </td>
            </tr>
            <tr>
                <td><strong><%- i18n.t('user.citizenship') %>:</strong></td>
                <td>
                    <input name="citizenship" class="easyui-combobox citizenship" data-options="width:310,valueField:'code',textField:'value',editable:false,prompt:'<%- i18n.t('user.citizenshipPrompt') %>'"/>
                </td>
            </tr>
            <tr>
                <td><strong><%- i18n.t('user.documentType') %>:</strong></td>
                <td>
                    <input name="documentType" class="easyui-combobox documentType" data-options="width:310,valueField:'code',textField:'value',panelHeight:'auto',editable:false,prompt:'<%- i18n.t('user.documentTypePrompt') %>'"/>
                </td>
            </tr>
            <tr>
                <td><strong><%- i18n.t('user.documentNumber') %>:</strong></td>
                <td>
                    <input type="text" name="documentNumber" class="easyui-textbox documentNumber" data-options="width:310,prompt:'<%- i18n.t('user.documentNumberPrompt') %>'" />
                </td>
            </tr>
            <tr>
                <td><strong><%- i18n.t('user.documentIssueDate') %>:</strong></td>
                <td>
                    <input name="documentIssueDate" class="easyui-datebox documentIssueDate" style="width:200px;" data-options="prompt:'<%- i18n.t('user.documentIssueDatePrompt') %>'">
                </td>
            </tr>
            <tr>
                <td><strong><%- i18n.t('user.description') %>:</strong></td>
                <td>
                    <input type="text" name="description" class="easyui-textbox description" data-options="width:310,height:56,multiline:true,prompt:'<%- i18n.t('user.descriptionPrompt') %>'">
                </td>
            </tr>
        </table>
    </div>
</div>
</form>
</script>