<script type="text/template" id="main-tpl">
<div style="position:relative;margin:5px">
    <div style="position:absolute;top:1px;left:1px;background:rgba(0,0,0,0.5);">
        <img class="verify-photo" style="width:160px;height:120px;border:1px solid lightgray;float:left;" src="images/webrtc.png"/>
        <div class="verify-data" style="float:right;max-width:460px;color:white"></div>
    </div>
    <img class="verify-document" style="border:1px solid lightgray;width:640px;height:480px;" src="images/webrtc.png"/>
</div>
</script>
<script type="text/template" id="verify-tpl">
<table cellpadding="0" style="padding:0 5px">
    <tr>
        <td style="padding-right:4px"><%- i18n.t('verify.fullname') %>:</td>
        <td style="font-weight:bold"><%- user.lastname %> <%- user.firstname %> <%- user.middlename %></td>
    </tr>
    <tr>
        <td style="padding-right:4px"><%- i18n.t('verify.gender') %>:</td>
        <td style="font-weight:bold"><%- i18n.t('user.genders.' + user.gender) %></td>
    </tr>
    <tr>
        <td style="padding-right:4px"><%- i18n.t('verify.birthday') %>:</td>
        <td style="font-weight:bold">
            <% if (user.birthday) {  %>
                <%- moment(user.birthday).format('DD.MM.YYYY') %>
            <% } %>  
        </td>
    </tr>
    <tr>
        <td style="padding-right:4px"><%- i18n.t('verify.citizenship') %>:</td>
        <td style="font-weight:bold">
            <% if (i18n.t('countries.' + user.citizenship) != ('countries.' + user.citizenship)) {  %>
                <%- i18n.t('countries.' + user.citizenship) %>
            <% } else {%>
                <%- user.citizenship %>
            <% } %>
        </td>
    </tr>
    <tr>
        <td style="padding-right:4px"><%- i18n.t('verify.documentType') %>:</td>
        <td style="font-weight:bold">
            <% if (i18n.t('user.documentTypes.' + user.documentType) != ('user.documentTypes.' + user.documentType)) {  %>
                <%- i18n.t('user.documentTypes.' + user.documentType) %>
            <% } else {%>
                <%- user.documentType %>
            <% } %>
        </td>
    </tr>
    <tr>
        <td style="padding-right:4px"><%- i18n.t('verify.documentNumber') %>:</td>
        <td style="font-weight:bold"><%- user.documentNumber %></td>
    </tr>
    <tr>
        <td style="padding-right:4px"><%- i18n.t('verify.documentIssueDate') %>:</td>
        <td style="font-weight:bold">
            <% if (user.documentIssueDate) {  %>
                <%- moment(user.documentIssueDate).format('DD.MM.YYYY') %>
            <% } %>
        </td>
    </tr>
</table>
</script>