<script type="text/template" id="main-tpl">
<div style="margin:5px;">
    <form class="passport-form">
        <table cellpadding="5" style="width:100%;">
            <tr>
                <td style="width:40%"><%- i18n.t('user.fullname') %><sup style="color:red">*</sup>:</td>
                <td>
                    <input type="text" name="lastname" class="easyui-textbox lastname" data-options="required:true,tipPosition:'bottom',width:100,prompt:'<%- i18n.t('user.lastname') %>'" />
                    <input type="text" name="firstname" class="easyui-textbox firstname" data-options="required:true,tipPosition:'bottom',width:100,prompt:'<%- i18n.t('user.firstname') %>'" />
                    <input type="text" name="middlename" class="easyui-textbox middlename" data-options="width:100,prompt:'<%- i18n.t('user.middlename') %>'" />
                </td>
            </tr>
            <tr>
                <td style="padding:0 5px"></td>
                <td style="padding:0 5px;font-size:0.8em;margin-top:-5px"><span style="color:red">*</span> <%- i18n.t('user.footnote') %></td>
            </tr>
            <tr>
                <td><%- i18n.t('user.gender') %>:</td>
                <td>
                    <input name="gender" class="easyui-combobox gender" data-options="required:true,valueField:'code',textField:'value',tipPosition:'bottom',width:200,panelHeight:'auto',editable:false,prompt:'<%- i18n.t('user.genderPrompt') %>'"/>
                </td>
            </tr>
            <tr>
                <td><%- i18n.t('user.birthday') %>:</td>
                <td>
                    <input name="birthday" class="easyui-datebox birthday" style="width:200px;" data-options="required:true,tipPosition:'bottom',prompt:'<%- i18n.t('user.birthdayPrompt') %>'">
                </td>
            </tr>
            <tr>
                <td><%- i18n.t('user.email') %>:</td>
                <td>
                    <input type="text" name="email" class="easyui-textbox email" data-options="width:310,required:true,validType:'email',tipPosition:'bottom',prompt:'<%- i18n.t('user.emailPrompt') %>'" />
                </td>
            </tr>
            <tr>
                <td><%- i18n.t('user.address') %>:</td>
                <td>
                    <input name="address" class="easyui-textbox address" style="width:310px;" data-options="required:true,tipPosition:'bottom',prompt:'<%- i18n.t('user.addressPrompt') %>'">
                </td>
            </tr>
            <tr>
                <td><%- i18n.t('user.citizenship') %>:</td>
                <td>
                    <input name="citizenship" class="easyui-combobox citizenship" data-options="width:310,valueField:'code',textField:'value',editable:false,prompt:'<%- i18n.t('user.citizenshipPrompt') %>'"/>
                </td>
            </tr>
            <tr>
                <td><%- i18n.t('user.documentType') %>:</td>
                <td>
                    <input name="documentType" class="easyui-combobox documentType" data-options="required:true,valueField:'code',textField:'value',tipPosition:'bottom',width:310,panelHeight:'auto',editable:false,prompt:'<%- i18n.t('user.documentTypePrompt') %>'"/>
                </td>
            </tr>
            <tr>
                <td><%- i18n.t('user.documentNumber') %>:</td>
                <td>
                    <input type="text" name="documentNumber" class="easyui-textbox documentNumber" data-options="required:true,tipPosition:'bottom',width:310,prompt:'<%- i18n.t('user.documentNumberPrompt') %>'" />
                </td>
            </tr>
            <tr>
                <td><%- i18n.t('user.documentIssueDate') %>:</td>
                <td>
                    <input name="documentIssueDate" class="easyui-datebox documentIssueDate" style="width:200px;" data-options="required:true,tipPosition:'bottom',prompt:'<%- i18n.t('user.documentIssueDatePrompt') %>'">
                </td>
            </tr>
            <tr>
                <td><%- i18n.t('user.description') %>:</td>
                <td>
                    <input type="text" name="description" class="easyui-textbox description" data-options="width:310,height:56,multiline:true,prompt:'<%- i18n.t('user.descriptionPrompt') %>'">
                </td>
            </tr>
        </table>
    </form>
</div>
</script>